{% extends 'base.html' %}
{% load static %}
{% block content %}

    <h1>Recipe Details</h1>
    <div class="items-container">
        <div class="item">
            <h2>{{ recipe_to_view.title }}</h2>
            <img class="detail-img" src="{{ recipe_to_view.image_url }}"
                 alt="{{ recipe_to_view.description|truncatewords:22 }}">
            <div class="time">
                <img src="{% static 'images/clock.png' %}">
                <p>{{ recipe_to_view.time }}min</p>
            </div>

            <h3>Ingredients</h3>
            <ul>
                {% for ingredient in ingredients %}
                    <li>{{ ingredient }}</li>
                {% endfor %}
            </ul>

            <h3>How to prepare?</h3>
            <div class="recipe-info-full">
                {{ recipe_to_view.description }}
            </div>
            <div class="buttons-container">
                <a class="button edit" href="{% url 'edit recipe page' recipe_to_view.pk %}">Edit</a>
                <a class="button delete" href="{% url 'delete recipe page' recipe_to_view.pk %}">Delete</a>
            </div>
        </div>
    </div>

{% endblock %}